# Amostragem usando Pyhton

Uma amostra é um subconjunto da população em estudo. Ela representa a população maior e é usada para fazer inferências sobre essa população, ou seja, reunir informações sobre uma população, sem ter que medi-la em sua totalidade.

Existem vários tipos e formas de selecionar a amostra de uma população, desde técnicas simples até as mais complexas.

Vamos abordar tês tipos de técnicas de amostragem:
* Simple random sample – Amostragem Aleatória Simples
* Stratified sample – Amostragem Aleatória Estratificada
* Systematic sample – Amostragem Sistemática

![Amostragem tipos](https://minerandodados.com.br/wp-content/uploads/2020/03/image-3.png "Figura Amostragem")

## Amostragem Aleatória Simples

Um determinado número de elementos é retirado da população de forma aleatória, onde todos os elementos têm a mesma probabilidade de serem selecionados para a amostra.

Exemplo:

In [2]:
import pandas as pd
#para baixar do github
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/car_crashes.csv'
car_crashes = pd.read_csv(url, index_col=0)
print(car_crashes.head(10))

       speeding  alcohol  not_distracted  no_previous  ins_premium  \
total
18.8      7.332    5.640          18.048       15.040       784.55
18.1      7.421    4.525          16.290       17.014      1053.48
18.6      6.510    5.208          15.624       17.856       899.47
22.4      4.032    5.824          21.056       21.280       827.34
12.0      4.200    3.360          10.920       10.680       878.41
13.6      5.032    3.808          10.744       12.920       835.50
10.8      4.968    3.888           9.396        8.856      1068.73
16.2      6.156    4.860          14.094       16.038      1137.87
5.9       2.006    1.593           5.900        5.900      1273.89
17.9      3.759    5.191          16.468       16.826      1160.13

       ins_losses abbrev
total
18.8       145.08     AL
18.1       133.93     AK
18.6       110.35     AZ
22.4       142.39     AR
12.0       165.63     CA
13.6       139.91     CO
10.8       167.02     CT
16.2       151.48     DE
5.9        136.05     DC
17.9       144.18     FL

Prof. Aqui nesse ponto tive problemas: <br>

In [ ]:
car_crashes

,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
total,,,,,,,
18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA
13.6,5.032,3.808,10.744,12.920,835.50,139.91,CO
10.8,4.968,3.888,9.396,8.856,1068.73,167.02,CT
16.2,6.156,4.860,14.094,16.038,1137.87,151.48,DE
5.9,2.006,1.593,5.900,5.900,1273.89,136.05,DC
17.9,3.759,5.191,16.468,16.826,1160.13,144.18,FL
15.6,2.964,3.900,14.820,14.508,913.15,142.80,GA
17.5,9.450,7.175,14.350,15.225,861.18,120.92,HI
15.3,5.508,4.437,13.005,14.994,641.96,82.75,ID
12.8,4.608,4.352,12.032,12.288,803.11,139.15,IL
14.5,3.625,4.205,13.775,13.775,710.46,108.92,IN
15.7,2.669,3.925,15.229,13.659,649.06,114.47,IA
17.8,4.806,4.272,13.706,15.130,780.45,133.80,KS
21.4,4.066,4.922,16.692,16.264,872.51,137.13,KY
20.5,7.175,6.765,14.965,20.090,1281.55,194.78,LA
15.1,5.738,4.530,13.137,12.684,661.88,96.57,ME
12.5,4.250,4.000,8.875,12.375,1048.78,192.70,MD
8.2,1.886,2.870,7.134,6.560,1011.14,135.63,MA
14.1,3.384,3.948,13.395,10.857,1110.61,152.26,MI
9.6,2.208,2.784,8.448,8.448,777.18,133.35,MN
17.6,2.640,5.456,1.760,17.600,896.07,155.77,MS
16.1,6.923,5.474,14.812,13.524,790.32,144.45,MO
21.4,8.346,9.416,17.976,18.190,816.21,85.15,MT
14.9,1.937,5.215,13.857,13.410,732.28,114.82,NE
14.7,5.439,4.704,13.965,14.553,1029.87,138.71,NV
11.6,4.060,3.480,10.092,9.628,746.54,120.21,NH
11.2,1.792,3.136,9.632,8.736,1301.52,159.85,NJ
18.4,3.496,4.968,12.328,18.032,869.85,120.75,NM
12.3,3.936,3.567,10.824,9.840,1234.31,150.01,NY
16.8,6.552,5.208,15.792,13.608,708.24,127.82,NC
23.9,5.497,10.038,23.661,20.554,688.75,109.72,ND
14.1,3.948,4.794,13.959,11.562,697.73,133.52,OH
19.9,6.368,5.771,18.308,18.706,881.51,178.86,OK
12.8,4.224,3.328,8.576,11.520,804.71,104.61,OR
18.2,9.100,5.642,17.472,16.016,905.99,153.86,PA
11.1,3.774,4.218,10.212,8.769,1148.99,148.58,RI
23.9,9.082,9.799,22.944,19.359,858.97,116.29,SC
19.4,6.014,6.402,19.012,16.684,669.31,96.87,SD
19.5,4.095,5.655,15.990,15.795,767.91,155.57,TN
19.4,7.760,7.372,17.654,16.878,1004.75,156.83,TX
11.3,4.859,1.808,9.944,10.848,809.38,109.48,UT
13.6,4.080,4.080,13.056,12.920,716.20,109.61,VT
12.7,2.413,3.429,11.049,11.176,768.95,153.72,VA
10.6,4.452,3.498,8.692,9.116,890.03,111.62,WA
23.8,8.092,6.664,23.086,20.706,992.61,152.56,WV
13.8,4.968,4.554,5.382,11.592,670.31,106.62,WI
17.4,7.308,5.568,14.094,15.660,791.14,122.04,WY

In [3]:
# Selecionando o  número de registros de uma amostra:
df_sample = car_crashes.sample(n=5)

# Informações do dataframe criado:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 5 entries, 14.1 to 15.3
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   speeding        5 non-null      float64
 1   alcohol         5 non-null      float64
 2   not_distracted  5 non-null      float64
 3   no_previous     5 non-null      float64
 4   ins_premium     5 non-null      float64
 5   ins_losses      5 non-null      float64
 6   abbrev          5 non-null      object
dtypes: float64(6), object(1)
memory usage: 320.0+ bytes

In [4]:
df_sample

,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
total,,,,,,,
14.1,3.948,4.794,13.959,11.562,697.73,133.52,OH
18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
12.5,4.250,4.000,8.875,12.375,1048.78,192.70,MD
5.9,2.006,1.593,5.900,5.900,1273.89,136.05,DC
15.3,5.508,4.437,13.005,14.994,641.96,82.75,ID

In [ ]:
#car_crashes=pd.read_csv('bad-drivers.csv', sep=',')
#forma de carregar do seu computador se o arquivo estiver disponível

In [5]:
car_crashes.sample(10)

,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
total,,,,,,,
18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
20.5,7.175,6.765,14.965,20.090,1281.55,194.78,LA
21.4,4.066,4.922,16.692,16.264,872.51,137.13,KY
12.8,4.608,4.352,12.032,12.288,803.11,139.15,IL
14.1,3.948,4.794,13.959,11.562,697.73,133.52,OH
14.5,3.625,4.205,13.775,13.775,710.46,108.92,IN
18.2,9.100,5.642,17.472,16.016,905.99,153.86,PA
13.6,4.080,4.080,13.056,12.920,716.20,109.61,VT
23.8,8.092,6.664,23.086,20.706,992.61,152.56,WV

## Amostragem Aleatória Estratificada

Essa amostragem consiste em dividir toda a população em diferentes grupos ou estratos diferentes, de maneira que um indivíduo só pode fazer parte de um único grupo e nenhum desses indivíduos pode ficar de fora de um estrato, a seleção de cada um dos indivíduos é feita de forma aleatória.

Exemplo:

In [7]:
import pandas as pd
import seaborn as sns

# Carregando a base de dados:
iris = sns.load_dataset('iris')
#outra forma:
#iris=pd.read_csv('iris.csv', sep='\t')

# Visualizando as linhas iniciais do dataframe:
iris.head()

#para salvar como csv
#iris.to_csv('iris.csv', sep='\t')

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
# Informações do dataframe:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
# Selecionando o  número de registros de uma amostra:
df_sample = iris.sample(n=50)

# Informações do dataframe criado:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 49 to 99
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  50 non-null     float64
 1   sepal_width   50 non-null     float64
 2   petal_length  50 non-null     float64
 3   petal_width   50 non-null     float64
 4   species       50 non-null     object
dtypes: float64(4), object(1)
memory usage: 2.3+ KB

In [10]:
df_sample = iris.sample(frac=0.10)

# Informações do dataframe criado:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 109 to 63
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  15 non-null     float64
 1   sepal_width   15 non-null     float64
 2   petal_length  15 non-null     float64
 3   petal_width   15 non-null     float64
 4   species       15 non-null     object
dtypes: float64(4), object(1)
memory usage: 720.0+ bytes

In [ ]:
from sklearn.model_selection import train_test_split

# Número de registros de cada instancia:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [ ]:
# Gerando a amostra de teste estratificada:
X_train, X_test, y_train, y_test = train_test_split(iris.drop('species',axis=1),
iris['species'], stratify=iris['species'], test_size=0.20)

o Parâmetro stratify gera os estratos a partir do atributo selecionado.

In [ ]:
# Quantidade de registros no conjunto de teste:
y_test

36         setosa
40         setosa
109     virginica
52     versicolor
117     virginica
62     versicolor
56     versicolor
70     versicolor
101     virginica
0          setosa
108     virginica
73     versicolor
39         setosa
51     versicolor
148     virginica
6          setosa
4          setosa
138     virginica
129     virginica
99     versicolor
18         setosa
79     versicolor
76     versicolor
114     virginica
31         setosa
142     virginica
32         setosa
141     virginica
65     versicolor
48         setosa
Name: species, dtype: object

Temos o test_size=0.20 especificamos que queremos uma amostra de 20% para os dados de teste totalizando 30 registros, esses registros serão divididos em 3 grupos com o mesmo tamanho como na saída abaixo.

In [ ]:
y_test.value_counts()

versicolor    10
setosa        10
virginica     10
Name: species, dtype: int64

Cada uma das classes ficou com o total de 10 registros, assim garantimos que a nossa amostra não seja enviesada.

## Amostragem Sistemática

Os elementos da população são colocados em uma lista e cada enésimo elemento da lista é escolhido (sistematicamente) por inclusão na amostra.

Exemplo: O diretor de uma escola usa uma lista com os nomes dos alunos e cada 10º estudante será selecionado para inclusão na amostra. O primeiro elemento deve ser selecionado aleatoriamente.

Gerando a semente aleatória

In [15]:
import numpy as np

# Selecionado um registro aleatório entre os valores de 0 a 10:
semente = np.random.choice(10, 1)
semente

array([9])

In [21]:
print(semente[0])

9

Gerando índices a partir da semente

In [20]:
# Gerando um array que inicia em 0 e termina em 150 com um intervalo de 7:
indices = np.arange(0,150,semente[0])
indices

array([  0,   9,  18,  27,  36,  45,  54,  63,  72,  81,  90,  99, 108,
       117, 126, 135, 144])

Veja que o nosso array foi gerado conforme especificamos acima. Os elementos foram colocados em uma lista, o enésimo elemento escolhido foi o 7, e esses serão os valores que serão incluídos na amostra.

Observação : A semente é gerada de forma aleatória, então quando você estiver fazendo os seus experimentos o valor que será gerado pode ser diferente.

Gerando a amostra a partir dos índices

In [23]:
amostra = iris.loc[indices,:]
amostra

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
18            5.7          3.8           1.7          0.3      setosa
27            5.2          3.5           1.5          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
54            6.5          2.8           4.6          1.5  versicolor
63            6.1          2.9           4.7          1.4  versicolor
72            6.3          2.5           4.9          1.5  versicolor
81            5.5          2.4           3.7          1.0  versicolor
90            5.5          2.6           4.4          1.2  versicolor
99            5.7          2.8           4.1          1.3  versicolor
108           6.7          2.5           5.8          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
126           6.2          2.8           4.8          1.8   virginica
135           7.7          3.0           6.1          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica

Observe que os registros selecionados foram os que correspondem ao array de indices que criamos anteriormente.
A amostra possui 15 registros que foram gerados de forma aleatória usando o número de indices que foi criado a partir de uma semente. 

Quer continuar lendo sobre o assunto veja o [artigo de Moez Ali](https://www.datacamp.com/tutorial/seaborn-python-tutorial) que explica o uso da biblioteca seaborn para criar gráficos estatíticos.